.el-tabs__nav-wrap::after{
  background: inherit;
}
.el-tabs__nav{
  padding: 15px 0;
  width: 80%;
  margin: auto;
}
.el-tabs{
  height: 100%;
}
.el-tabs--left .el-tabs__item.is-left{
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  background:url("../images/text_bg.png") no-repeat ;
  background-size: 100% 100%;
}
.el-tabs--left .el-tabs__item.is-active{
  color: #fff;
  background:url("../images/btn_bg.png") ;
}
.el-tabs__header{
  width: 15%;
  border:1px solid #1b93a0;
}
.el-tabs__content{
  height: 100%;
  padding: 20px;
  border:1px solid #1b93a0;
}
.el-tabs__active-bar{
  display: none;
}
.el-table{
  background: inherit;
  color: #fff;
}
.el-table th, .el-table tr{
  background: inherit;
  color: #fff;
}
.el-table td, .el-table th.is-leaf{
  /*border-bottom: 1px dashed #fff;*/
}
.el-table__row:hover {
  color: #000;
}
.el-table__body tr.hover-row>td{
  color: #fff;
  background:#16427d;
}
table{
  width: 100%;
}
.el-pagination__total,.el-pagination__jump{
  color: #fff;
}
.el-table__empty-text{
  color: #fff;
}
.search-border .el-form-item{
  float: left;
  width: 16%;
  padding-right: 15px;
  margin-bottom: 0;
}
.search-border  .el-form-item__label{
  color: #fff;
}
.search-border .el-input__inner{
  background: #16427d;
  color: #fff;
  border: 0;
}
.search-border .el-button--primary{
  background: #16427d;
  border-color: #16427d;
}
.el-button--primary:focus,.el-button--primary:hover{
  background: #1a57a9;
  border-color: #1a57a9;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: inherit;
}
.el-message-box{
  width: 90% ;
  /*height: 90%;*/
  overflow: auto;
}
.contents p img{
  width: 100%;
}
.waringTab .el-tabs__header{
  width: inherit;
  border: 0;
  margin: 0;
}
.waringTab .el-tabs__item{
  color: #fff;
}
.waringTab.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  color: #2ecbf3;
  border-bottom: 1px solid #2ecbf3;
}
.waringTab.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:0;
}
.waringTab #tab-second.is-active{
  border-left: 1px solid #fff;
}
.waringTab .el-tabs__content{
  padding: 0;
}
.xmtz .el-tabs__content,.projectDesc .el-tabs__content{
  border: 0;
}
.xmtz .el-tabs__nav{
  width: 100%;
  padding: 0;
}
.xmtz .el-tabs__item{
  padding: 0 36px;
  text-align: center;
  border-left: 0px solid #fff!important;
}
.projectDesc .el-tabs__item{
  width: 25%;
  /*padding: 0 10%;*/
  text-align: center;
  border-left: 0px solid #fff!important;
}
.el-table tbody tr:hover>td {
  color: #fff;
  background-color:#0d203c!important
}
.projectDesc .el-tabs--card>.el-tabs__header .el-tabs__nav{
  padding: 0;
}
.site img,.site video{
  width: 100%;
  height: 300px;
}
.sjkh{
  border-left:1px solid #dedede;
  border-top:1px solid #dedede;
}
.sjkh tr td{
  border-right:1px solid #dedede; border-bottom:1px solid #dedede;
  line-height: 40px;
}
.sjkh tr td span{
  display: block;
}
